{%load static%}
<div class="container">
    <div class="footer-top">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static './assets/images/footer/footer-logo.png'%}" alt="footer">
            </a>
        </div>
        <ul class="social-icons">
            <li>
                <a href="#0">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-area">
            <div class="left">
                <p> Created By @itsaallicho and @ady1ov_73 <a href="{% url 'index' %}">Boleto </a></p>
            </div>
            <ul class="links">
                <li>
                    <a href="#0">About</a>
                </li>
                <li>
                    <a href="#0">Terms Of Use</a>
                </li>
                <li>
                    <a href="#0">Privacy Policy</a>
                </li>
                <li>
                    <a href="#0">FAQ</a>
                </li>
                <li>
                    <a href="#0">Feedback</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</footer>
<!-- ==========Newslater-Section========== -->


<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/heandline.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/countdown.min.js' %}"></script>
<script src="{% static 'assets/js/odometer.min.js' %}"></script>
<script src="{% static 'assets/js/viewport.jquery.js' %}"></script>
<script src="{% static 'assets/js/nice-select.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
