{%load static%}
 <!-- ==========Header-Section========== -->
 <header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static './assets/images/logo/logo.png '%}" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="{% url 'index' %}" class="active">Домой</a>
                </li>
                <li>
                    <a href="#0">Фильмы</a>
                    <ul class="submenu">
                        {% if user.is_superuser %}
                        <li>
                            <a href="{% url 'create' %}">Создание фильма</a>
                        </li>
                        <!-- <li>
                            <a href="movie-grid.html">Фильмы по категориям</a>
                        </li>
                        <li>
                            <a href="movie-list.html">Movie List</a>
                        </li> -->
        
                    </ul>
                </li>
                {% else %}
                <li>
                <li>
                    <a href="movie-list.html">Movie List</a>
                </li>
            </ul>
        </li>
        {% endif %}
                <li>
                    <a href="#0">Вход</a>
                    <ul class="submenu">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="about.html">О нас</a>
                        </li>
                    </ul>
                        {% else %}
                        <li>
                            <a href="about.html">О нас</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Войти</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Зарегистрироваться</a>
                        </li>
                        {% endif %}
                </li>
                {% if user.is_authenticated %}
                
                <li class="header-button pr-0">
                    <a href="#0">{{ user.username }}</a>
                    <ul class="submenu">
                        <li>
                            <a href="{% url 'logout' %}">Выйти</a>
                        </li>
                    </ul>
                </li>   
                {% else %}
                
                {% endif %}
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
<!-- ==========Header-Section========== -->
