{%extends 'homepage.html'  %}
{%block content%}
{% load socialaccount %}
{% load static%}
{% include 'include/header.html' %} 


<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    
    <!-- ==========Sign-In-Section========== -->
    <section class="account-section bg_img" data-background="./assets/images/account/account-bg.jpg">
        <div class="container">
            <div class="padding-top padding-bottom">
                <div class="account-area">
                    <div class="section-header-3">
                        <span class="cate">welcome</span>
                        <h2 class="title">to Boleto </h2>
                    </div>
                    <!-- <form class="account-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username<span>*</span></label>
                            <input type="text" placeholder="Enter Your Username"  id="email2" required>
                        </div>
                        <div class="form-group">
                            <label for="email1">Email<span>*</span></label>
                            <input type="text" placeholder="Enter Your Email" id="email1" required>
                        </div>
                        <div class="form-group">
                            <label for="pass1">Password<span>*</span></label>
                            <input type="password" placeholder="Password" id="pass1" required>
                        </div>
                        <div class="form-group">
                            <label for="pass2">Confirm Password<span>*</span></label>
                            <input type="password" placeholder="Password" id="pass2" required>
                        </div>
                        <div class="form-group checkgroup">
                            <input type="checkbox" id="bal" required checked>
                            <label for="bal">I agree to the <a href="#0">Terms, Privacy Policy</a> and <a href="#0">Fees</a></label>
                        </div>
                        <div class="form-group text-center">
                            
                            <input type="submit" value="Sign Up">
                        </div>
                    </form> -->


                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="single-form">
                            <label class="form-label">Имя</label>
                            <input type="text" name="last_name" class="form-control">
                        </div>
                        <div class="single-form">
                            <label class="form-label">Фамилия</label>
                            <input type="text" name="first_name" class="form-control">
                        </div>
                        <div class="single-form">
                            <label class="form-label">Почта*</label>
                            <input type="text" name="email" class="form-control">
                        </div>
                        <div class="single-form">
                            <label class="form-label">Имя пользователя*</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="single-form">
                            <label class="form-label">Номер телефона</label>
                            <input type="text" name="phone" class="form-control">
                        </div>

                        <div class="single-form">
                            <label class="form-label">Пароль</label>
                            <input type="password" name="password1" class="form-control">
                        </div>

                        <div class="single-form">
                            <label class="form-label">Потвердите пароль</label>
                            <input type="password" name = "password2" class="form-control">
                        </div>
                        <div class="single-form">
                            <label for="img">Фото пользователя</label>
                            <input type="file" class="form-control" id="img" name="profile_image" accept="image/*">
                        </div>


                        <div class="single-form">
                            <button class="btn btn-primary">Потвердить</button>
                        </div>
                    </form>


                    <div class="option">
                        Already have an account? <a href="{% url 'login' %}">Login</a>
                    </div>
                    <div class="or"><span>Or</span></div>
                    <ul class="social-icons">
                        <li>
                            <a href="{% provider_login_url 'google' %}">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Sign-In-Section========== -->


 
</body>

</html>
{%include 'include/footer.html'%}
{%endblock%}