{%extends 'homepage.html'%}
{% load static%}
{%block content%}
{%include 'include/header.html'%}
<div class="container">
    <div style="padding: 50px;" class="row">
<div class="main" style="margin-top: 70px;">
    <!-- Create a Form -->
    <form method="POST" enctype="multipart/form-data">
        <!-- Security token by Django -->
        {% csrf_token %}

        <!-- form as paragraph -->
        {{ form.as_p }}

        <input type="submit" value="Update">
    </form>

</div> </div></div>
{%include 'include/footer.html'%}
{%endblock%}